* {
    box-sizing: border-box;
}
:root {
    --body-background-color: rgb(50, 50, 50);
    --header-background-color: rgb(30, 30, 30);
    --hamburger-background-color: rgb(14, 151, 14);
    --navigation-background-color: rgb(30, 30, 30);
    --navigation-border-color: rgb(14, 151, 14);
    --nav-button-background-color: rgb(30, 30, 30);
    --nav-button-background-hover-color: rgb(40, 40, 40);
    --nav-button-background-active-color: rgb(20, 20, 20);
    --nav-button-text-color: rgb(14, 151, 14);
    --navigation-box-shadow-color: rgb(14, 151, 14);
    --nav-close-color: rgb(150, 1, 1);
    --name-color: rgb(150, 1, 1);
    --name-hover-color: rgb(14, 151, 14);
    --name-active-color: rgb(150, 1, 1);
}
body {
    background-color: var(--body-background-color);
    margin: 0;
    width: 100vw;

}
header {
    background-color: var(--header-background-color);
    height: 6em;
    position: sticky;
    top: 0;
}
.hamburger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1.6em;
    height: 1.5em;
    margin: 1em;
    position: fixed;
    cursor: pointer;
}
.hamburger div {
    background-color: var(--hamburger-background-color);
    height: 0.20em;
    width: 1.6em;
    margin-top: 0.10em;
    border-radius: 0.20em;
    transition: 0.3s;
}
.hamburger div:nth-child(2) {
    width: 1em;
    transition: 0.3s;
}
.hamburger div.bar-one {
    background-color: var(--nav-close-color);
    transform: rotate(45deg);
    top: 0.5em;
    margin: 0;
    position: absolute;
}
.bar-two {
    display: none;
    margin: 0;
}
.hamburger div.bar-three {
    background-color: var(--nav-close-color);
    transform: rotate(-45deg);
    top: 0.5em;
    margin: 0;
    position: absolute;
}
.navigation {
    background-color: var(--navigation-background-color);
    width: 100vw;
    height: 100%;
    left: -110vw;
    position: fixed;
    border-top: solid 3px var(--navigation-border-color);
    transition: 0.5s;
}

.visible {
    left: 0px;
}
.nav-button {
    background-color: var(--nav-button-background-color);
    color: var(--nav-button-text-color);
    width: 100%;
    height: 2.25em;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: none;
    cursor: pointer;
}
.nav-button:hover {
    background-color: var(--nav-button-background-hover-color);
    transition: 0.2s;
}
.nav-button:active {
    background-color: var(--nav-button-background-active-color);
    transition: 0.2s;
}
.content h1 {
    text-align: center;
    color: rgb(200, 200, 200);
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
}
.name {
    text-decoration: none;
    color: var(--name-color);
    font-family: cursive;
    /*font-weight: 600;*/
    font-size: 2em;
    right: 6em;
    top: 1em;
    margin: 0;
    position: absolute;
    transition: 0.5s;
}
.name:hover {
    color: var(--name-hover-color);
    transition: 0.5s;
}
.name:active {
    color: var(--name-active-color);
    transition: 0.2s;
}

